# Env
.env
.env.*
!.env.example
!.env_production
/backend
/backend-*.tgz

# Doc
.specify/
.gemini/
specs/
project.md
dif.md

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# IDE
.idea/
.vscode/